.container-new-feed {
  width: 54rem;
  margin: 0 auto;
  display: grid;
  row-gap: 8rem;
  padding: 9.2rem 0 12rem;

  @media (max-width: $tablet) {
    margin: 0 auto 0;
    row-gap: 6rem;
    padding: 5.6rem 0 12rem;
  }

  @media (max-width: $phone) {
    width: 32.7rem;
    padding: 3.4rem 0 9rem;
  }
}

.new-feed {
  background-color: $color-white;
  height: auto;
  border-radius: 1rem;
  padding: 4.2rem;
  position: relative;
  display: grid;
  row-gap: 3rem;

  @media (max-width: $tablet) {
  }
  @media (max-width: $phone) {
    padding: 3.7rem 2.4rem 2.4rem;
  }

  &__img {
    position: absolute;
    top: -2.8rem;
    left: 4.2rem;
    width: 5.6rem;
    height: 5.6rem;

    @media (max-width: $phone) {
      top: -2rem;
      left: 2.4rem;
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    @media (max-width: $phone) {
      margin-top: -1rem;
    }
    &--input {
      background-color: $color-secondary-hover;
      border-radius: 0.5rem;
      height: 4.8rem;
      width: 100%;
      border: none;
      margin-top: 2rem;
      padding: 0 1rem;
      margin-bottom: 0.5rem;

      &:focus {
        outline: 1.8px solid #4661e6;
      }
    }
  }

  &__category {
  }

  &-sort-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 6.3rem;
    box-shadow: 0 0 3rem rgba(207, 215, 255, 1);
  }

  &__detail {
    &--input {
      background-color: $color-secondary-hover;
      border-radius: 0.5rem;
      height: 9.6rem;
      width: 100%;
      margin-top: 2rem;
      border: none;
      padding: 1rem;
      resize: none;
      margin-bottom: 0.5rem;

      &:focus {
        outline: 1.8px solid #4661e6;
      }
    }
  }

  &__btns {
    display: flex;
    column-gap: 2rem;
    justify-self: right;

    @media (max-width: $phone) {
      justify-self: unset;
      flex-direction: column;
      row-gap: 2rem;
      width: 100%;
    }
  }
}

.form-error {
  color: red;
  font-size: 1.3rem;
}

.form-error-outline {
  outline: 1.8px solid red;
}

.form-focus-outline {
  outline: 1.8px solid #4661e6;
}
