$color-purple: #ad1fea;
$color-purple-hover: #c75af6;

$color-blue: #4661e6;
$color-blue-hover: #7c91f9;

$color-primary: #373f68;

$color-primary-2: #3a4374;
$color-primary-2-hover: #656ea3;

$color-primary-3: #647196;

$color-white: #ffffff;

$color-secondary: #f2f4ff;
$color-secondary-hover: #cfd7ff;

$color-secondary-2: #f7f8fd;

$color-red: #d73737;
$color-red-hover: #f49f85;

$color-sky-blue: #62bcfa;

$tablet: 48em;
$phone: 23.4375em;
